In [1]:
2.1

2.1

In [2]:
sum=(1+2+3+4+5)
print(sum)

15

In [3]:
sara_age=23
mark_age=19
fatima_age=31
print((sara_age+mark_age+fatima_age)/3)

24.333333333333332

In [4]:
a=int(input("large number"))
b=int(input("small number"))
print("73 goes into 403 is"  +str(a/b))

large number403
small number73
73 goes into 403 is5.52054794520548

In [5]:
a=int(input("large number"))
b=int(input("small number"))
print("the remainder when 403 is divided by 73""  "  +str(a/b))

large number403
small number73
the remainder when 403 is divided by 73  5.52054794520548

In [6]:
a=int(input("the number"))
print("value of two to the power 1o""  "+str(a**10))

the number2
value of two to the power 1o  1024

In [7]:
>>> abs(54-57)

3

In [8]:
2.2

2.2

In [9]:
a=[34.99,29.5,31.50]
min(a)<30.00

True

In [10]:
 2+2<4

False

In [11]:
 7//3==1+1

True

In [12]:
3**2+4**2==25

True

In [13]:
2+4+6>12

False

In [14]:
1387%19==0

True

In [15]:
31%2==0

False

In [16]:
a=[34.99,29.95,30.00]
min(a)
min(a)<30

True

2.3

In [17]:
a=3

In [18]:
b=4

In [19]:
a=3
b=4
c=a*a+b*b
print(c)

25

2.4

In [20]:
s1='ant'
s2='bat'
s3='cod'
print(s1+' ' + s2+' '+ s3)
print(s1*10)
print(s1+" "+s2*2+" "+s3)
print(7*(s1+" "+s2))
print(5*(2*s1+s3+' '))

ant bat cod
antantantantantantantantantant
ant batbat cod
ant batant batant batant batant batant batant bat
antantcod antantcod antantcod antantcod antantcod

In [21]:
2.5

2.5

In [22]:
s='0123456789'
print(s[0])
print(s[1])
print(s[6])
print(s[8])
print(s[9])

0
1
6
8
9

In [23]:
2.6

2.6

In [24]:
words = ['bat', 'ball', 'barn', 'basket', 'badminton']
print(min(words))
print(max(words))

badminton
bat

2.7

In [1]:
grades = [9, 7, 7, 10, 3, 9, 6, 6, 2]
print(grades[7])
grades.append(4)
print(grades)
print(max(grades))
print(grades.sort())
print(sum(grades)/len(grades))

6
[9, 7, 7, 10, 3, 9, 6, 6, 2, 4]
10
None
6.3

In [ ]:
2.8

In [11]:
a=2+3==4 
a>=5

False

In [5]:
lst=[1,2,3]
lst[1] * -3 < -10 == 0

False

In [6]:
lst=[1,2,3]
(lst[1] * -3 < -10) in [0, True]

True

In [7]:
2 * 3**2

18

In [18]:
4 / 2 in [1, 2, 3]

True

In [ ]:
2.9

In [14]:
i=False+False
print(type(i))

<class 'int'>

In [15]:
i=True or True
print(type(i))

<class 'bool'>

In [21]:
i=True+False
print(i)
print(type(i))

1
<class 'int'>

In [22]:
i=True or False
print(i)
print(type(i))

True
<class 'bool'>

In [ ]:
2.10

In [2]:
a=3
b=4
(a**2+b**2)

25

In [3]:
a=3
b=4
(a**2+b**2)==5

False

In [5]:
a=3
b=4
pi=3.14
pi*a**2

28.26

In [6]:
a=3
b=4
x=2
y=4
r=6
(x-a)**2 + (y-b)**2 <r**2

True